* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 10px;
}

img {
    width: 800px;
    height: 500px;
    border-radius: 5px;
}